<div class="right-sidebar-body">
  <div class="right-sidebar-header">
    <span *ngIf="rightSidebarStatus === 1">Nueva noticia</span>
    <span *ngIf="rightSidebarStatus === 2">Edita la noticia</span>
    <div class="right-sidebar-header-buttons">
      <button (click)="close()">Cancelar</button>
      <button (click)="save()">Guardar</button>
    </div>
  </div>
  <form [formGroup]="trendForm">
    <div class="right-sidebar-field">
      <span>URL</span>
      <input type="text" formControlName="url" />
    </div>

    <div class="right-sidebar-field">
      <span>Autor</span>
      <input type="text" formControlName="provider" />
    </div>

    <div class="right-sidebar-field">
      <span>Título</span>
      <input type="text" formControlName="title" />
    </div>

    <div class="right-sidebar-textarea">
      <span>Contenido</span>
      <textarea type="text" formControlName="body"></textarea>
    </div>
  </form>
  <div class="right-sidebar-header-mobile">
    <button class="reset-button" (click)="save()">Guardar</button>
    <button class="reset-button" (click)="close()">Cancelar</button>
  </div>
</div>
