<div class="feed-body">
  <app-main-feed [feed]="mainTrend" (onFeedClicked)="goToDetails($event)"></app-main-feed>
  <div class="secondary-feeds">
    <app-normal-feed
      *ngFor="let trend of secondaryFeeds"
      [isSecondary]="true"
      [feed]="trend"
      (onFeedClicked)="goToDetails($event)"
    ></app-normal-feed>
  </div>
  <div class="other-feeds">
    <app-normal-feed
      *ngFor="let trend of trends"
      [feed]="trend"
      (onFeedClicked)="goToDetails($event)"
    ></app-normal-feed>
  </div>
  <button class="floating-add-button">
    <img src="/assets/Iconos/Actions/add.svg">
  </button>
</div>
