@import 'abstracts/variables'
@import 'abstracts/mixins'
@import 'base/typography'
@import 'components/buttons'

.feed-body
    @include pad(20)
    @include pad-top(10)
    max-width: 1440px
    display: flex
    flex-direction: column
    margin: auto

    .secondary-feeds
        @include pad-top(10)
        @include pad-bottom(10)
        display: grid
        grid-template-columns: repeat(2, 1fr)
        row-gap: 20px
        column-gap: 20px

    .other-feeds
        display: grid
        grid-template-columns: repeat(3, 1fr)
        grid-gap: 34px


//Mobile design
@media screen and (max-width: $breakpoint-tablet)
    .feed-body
        @include pad(10)

//Mobile design
@media screen and (max-width: $breakpoint-mobile)
    .feed-body
        @include pad(5)

        .secondary-feeds
            grid-template-columns: repeat(1, 1fr)

        .other-feeds
            grid-template-columns: repeat(1, 1fr)
